<header>
    <h1><img src="/images/weather.png" alt=""><span>             </span>{{title}}</h1>
    <div>
        <a id="flink" href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>