<!DOCTYPE html>
<html>

<head>
    <title>404-Page Not Found</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMessage}}
    </div>
    
    {{>footer}}
</body>

</html>