<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/me.jpg" alt="">
        <p>- Not Anyone</p>
    </div>
    
    {{>footer}}
</body>

</html>