<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input type="text" placeholder="Location">
            <button>search</button>
        </form>

        <p id="message1"><br></p>
        <p id="message2"><br></p>

        <div class="map">
            <img id="mapImg" src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-80.8938,40.2617,10,0/600x420?access_token=pk.eyJ1IjoiYWJoaWtybi0wMyIsImEiOiJja2dhZndzeGwwNm92MnNzNXE4emM2dGZsIn0.S6m1cDe0bjmklVJqOuMQjw" alt="">
        </div>
    </div>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>